<ion-view view-title="Myers-Briggs Test">
  <ion-content class="test-content padding">
    <ion-list class="question-list">
      <ion-item ng-repeat="question in questions"
              class="question-item"
              ng-attr-id="{{ 'question-line-' + $index }}"
              ng-class="{'highlight' : (highlightUndefined && question.result === undefined)}">
        <div class="question">
          <h2 class="title"><b>{{$index}}.</b> {{question.question}}</h2>
        </div>
        <div class="button-bar">
          <a class="button" ng-class=" question.result === -1 ? 'button-stable' : 'button-assertive' " ng-click="respond(question, -1)">No</a>
          <a class="button" ng-class=" question.result === 0  ? 'button-stable' : 'button-energized' " ng-click="respond(question, 0)">Neutral</a>
          <a class="button" ng-class=" question.result === 1  ? 'button-stable' : 'button-balanced'  " ng-click="respond(question, 1)">Yes</a>
        </div>
      </ion-item>
    </ion-list>
    <button class="button button-full button-positive"
            ng-click="validate()">
      Result
    </button>
  </ion-content>
</ion-view>
